*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.con{
    min-height: 100vh;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}
#ryo{
    background-image: url(./images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position:center;
    background-color: black;

    z-index: -1;

}
table,th,td {
    border: 1px solid black;
    border-spacing:.02;
    
}
th,td{
    padding: 15px;
}
th{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}
td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:black;
    font-weight: bold;

}
